<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> My Website </title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
	
	<div id="header-container">

		<div class="header-inner-container clearfix">

			<div class="header-tagline">
				
				<h3> The world's largest resource for data centers,
					customers, vendors and those seeking employment.
				</h3>
				
			</div>
		
			<div class="header-logo clearfix">
				
				<img src="img/data-logo.png">
				<h1>4,347</h1>
				<p>Data<br>Centers</p>
				
			</div>

		</div>

	</div>

	</div>
	
	<div id="body-wrapper">

		<div id="panel-container">

			<ul class="panel-box clearfix">

				<li>
						<img src="img/folder.png">
						<h3 class="panel-title"> Directory </h3>
						<p class="panel-subtitle"> Map View, Locations, Companies, Vendors </p>
						<hr>
						<p class="panel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi, sapiente id voluptatibus </p>
						<a href="#"> Read More </a>
				</li>
				<li>
					<img src="img/drive.png">
					<h3 class="panel-title"> Real Estate </h3>
					<p class="panel-subtitle"> Listings, Recently Sold Market Stats, List A Data Center </p>
					<hr>
					<p class="panel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi, sapiente id voluptatibus </p>
					<a href="#"> Read More </a>
				</li>
				<li>
					<img src="img/mouse.png">
					<h3 class="panel-title"> Employment </h3>
					<p class="panel-subtitle"> Data Center Jobs <br> Post A Job </p>
					<hr>
					<p class="panel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi, sapiente id voluptatibus </p>
					<a href="#"> Read More </a>
				</li>
				<li>
					<img src="img/cloud.png">
					<h3 class="panel-title"> Deals </h3>
					<p class="panel-subtitle"> Colocation, Cloud, Dedicated Servers, Hardware, Post A Deal </p>
					<hr>
					<p class="panel-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi, sapiente id voluptatibus </p>
					<a href="#"> Read More </a>
			</li>

			</ul>

		</div>
			
		<div class="footer-container clear">

			<h3 class="footer-title"><span>Resource & Tools </span></h3>

			<ul class="footer-icons clearfix">
				<li>
					<img src="img/clock-b.png">
					<h5> Colocation<br>Calculator </h5>
				</li>
				<li>
					<img src="img/gear.png">
					<h5> Special Offers<br> & Discounts </h5>
				</li>
				<li>
					<img src="img/phone.png">
					<h5> Consulting and<br>Network Design</h5>
				</li>
				<li>
					<img src="img/cart.png">
					<h5> Contact Us<br>Today!</h5>
				</li>
				<li>
					<img src="img/clock-a.png">
					<h5> Buy Cloud<br>Servers Online!</h5>
				</li>
				<li>
					<img src="img/calc.png">
					<h5> Online File Storage<br>Backup and DR</h5>
				</li>
			</ul>

		</div>

	</div>

</body>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</html>